@model Model.Pessoa
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adicionar Pessoas</h2>

@using (Html.BeginForm("Create")) {
    Html.RenderPartial("_EditOrCreate", Model);       
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

